{{ define "main" }}

<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{ $contenturl := .Permalink }}
                <img src="{{ with .Params.image }}{{ $contenturl }}{{ . }}{{ end }}" class="w-100 mb-3" alt="Post-Image">
                <h2>{{ .Title }}</h2>
                <div class="post-meta mb-5">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>oleh</span>
                            <a href="https://t.me/libreofficeid/" aria-label="Telegram LibreOffice">{{ .Params.author }}</a>
                        </li>
                        <li class="list-inline-item">
                            <span>pada</span>
                            <span>{{ .Date.Format .Site.Params.dateFormat }}</span>
                        </li>
                    </ul>
                </div>
                <div class="content-single">
                    {{ .Content }}
                    <hr>
                    <div class="kategori">
                    Kategori: <a href="../../kategori/{{ .Params.kategori }}" aria-label="kategori" >{{ .Params.kategori }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
